<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.sakila.mapper.ActorMapper">
	<select id="selectActorInfoList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			actor_id actorId,
			CONCAT(first_name,' ',last_name) name,
			film_info filmInfo
		FROM actor_info
		<where>
			<if test="searchWord != null and searchSelect == 'actorAndFilm'">
				film_info LIKE CONCAT('%', #{searchWord}, '%') OR CONCAT(first_name,' ',last_name) LIKE CONCAT('%', #{searchWord}, '%')
			</if>
			<if test="searchWord != null and searchSelect == 'actor'">
				CONCAT(first_name,' ',last_name) LIKE CONCAT('%', #{searchWord}, '%')
			</if>
			<if test="searchWord != null and searchSelect == 'film'">
				film_info LIKE CONCAT('%', #{searchWord}, '%')
			</if>
		</where>
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<select id="selectActorTotal" parameterType="String" resultType="Integer">
		SELECT COUNT(*)
		FROM actor_info
		<where>
			<if test="searchWord != null and searchSelect == 'actorAndFilm'">
				film_info LIKE CONCAT('%', #{searchWord}, '%') OR CONCAT(first_name,' ',last_name) LIKE CONCAT('%', #{searchWord}, '%')
			</if>
			<if test="searchWord != null and searchSelect == 'actor'">
				CONCAT(first_name,' ',last_name) LIKE CONCAT('%', #{searchWord}, '%')
			</if>
			<if test="searchWord != null and searchSelect == 'film'">
				film_info LIKE CONCAT('%', #{searchWord}, '%')
			</if>
		</where>
		
	</select>
	
	<insert id="insertActor" parameterType="com.gd.sakila.vo.Actor">
		INSERT INTO actor(
			first_name,
			last_name
		) VALUES(
			UPPER(#{firstName}),
			UPPER(#{lastName})
		)
	</insert>
	
	<select id="selectActorInFilmOne" parameterType="Integer" resultType="java.util.Map">
		SELECT 
			a.actor_id actorId, 
			CONCAT(a.first_name,' ',a.last_name) name,
			if(ex.actor_id IS NULL, 'X', 'O') chk
		FROM actor a
		LEFT JOIN (SELECT *
					FROM film_actor WHERE film_id = #{filmId}) ex
		ON a.actor_id = ex.actor_id
		<where>
			<if test="checkActorInFilm == 0">
				ex.actor_id IS NOT NULL
				ORDER BY chk, name ASC
			</if>
			<if test="checkActorInFilm == 1">
				ex.actor_id IS NULL
				ORDER BY chk, name ASC
			</if>
		</where>
	</select>
	
	<delete id="deleteActorInFilmOne" parameterType="int">
		DELETE FROM film_actor WHERE film_id = #{filmId}
	</delete>
	
	<insert id="insertActorInFilmOne" parameterType="int">
		INSERT INTO film_actor(
			actor_id,
			film_id
		) VALUES(
			#{actorId},
			#{filmId}
		)
	</insert>
</mapper>