<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.sakila.mapper.AddressMapper">
	<select id="selectPhone" parameterType="String" resultType="int">
		SELECT
			COUNT(*)
		FROM address
		WHERE phone = #{phone}
	</select>
	
	<insert id="insertAddress" parameterType="com.gd.sakila.vo.Address">
		<selectKey keyProperty="addressId" resultType="int">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO address(
			address,
			address2,
			district,
			city_id,
			postal_code,
			phone,
			last_update
		) VALUES(
			#{address},
			#{address2},
			#{district},
			#{cityId},
			#{postalCode},
			#{phone},
			NOW()
		)	
	</insert>
</mapper>