<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.sakila.mapper.CityMapper">
	<select id ="selectCity" parameterType="int" resultType="com.gd.sakila.vo.City">
		SELECT
			city_id cityId,
			city city
		FROM city
		WHERE country_id = #{countryId}
	</select>
	
	<insert id="insertCity" parameterType="com.gd.sakila.vo.City">
		<selectKey keyProperty="cityId" resultType="int" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT city(
			city,
			country_id,
			last_update
		) VALUES(
			#{city},
			#{countryId},
			NOW()
		)
	</insert>
</mapper>